body {
  font-family: Arial;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  background-color: #dfe6e9;
  align-items: center;
}

#panel {
  background-color: LightGray;
  padding: 10px;
  border-radius: 10px;
  max-width: 350px;
  margin-left: 60px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.2; 
}

h2 {
  text-align: center;
}

.author {
  font-size: 14px; 
  line-height: 1.2; 
  text-align: center;
}

#chart_title {
  margin-left: 80px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more-container {
  display: flex;
  flex-direction: row;
  color: black;
  gap: 1rem;

}

.vis-container {
  display: flex;
  flex-direction: row;
  background-color: ghostwhite;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
}

.container {
  line-height: 1.4rem;
  border-radius: 2px;
  padding: 2rem;
  background-color: ghostwhite;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.read-more-btn {
  color: blue;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}

#panel {
  flex: 1;
}

#scatterplot {
  flex: 2;
}

.spinner {
  width: 55px;
}

.tooltip {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  color: #000;
  padding: 5px;
  border: 0px solid #000;
  font-size: 12px;
}

img {
  max-width: 30%;
}

.graph {
  text-align: center;
  align-items: center;
}

#info {
  max-width: 80%;
  text-align: center;
}

#visualizations {
  max-width: 80%;
  text-align: center;
}

#footer {
  max-width: 80%;
  text-align: center;
}

.graph {
  width: 100%;
}

.graph-container {
  width: 100%;
  background-color: ghostwhite;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  margin: auto;

}

.images {
  display: flex;
  justify-content: space-evenly;

}

.grad {
  align-self: center;
  height: 100px;

}

.graph.highlight {
  stroke-opacity: 1;
  stroke: black;
  stroke-width: 2;
}